<h2>Angular 2 Demo: Zones</h2>
    
<p>This demo shows how code is executed <strong>inside</strong> Angular's zone to
ensure the framework is notified when an event has happened. It also demonstrates how
code can be executed <strong>outside</strong> Angular's zone, which causes the UI to
not update after every event tick.</p>

<p>Click the buttons below to see the code in action.</p>
<hr>
<br>
<ng-zone-demo></ng-zone-demo>
<hr>
<center>Brought to you by Team <a href="http://thoughtram.io">thoughtram</a></center>
